/.projects/public_cloud*
/.projects/service_catalog*
/bin/aws-mgmt-credentials
/bin/awsclifedcredsmfa
/bin/cfn_nag
/bin/ecs-cli
/bin/hadolint
/bin/hub
/bin/jet
/bin/jp
/bin/rg
/bin/terraform-docs
/bin/z.sh
