[user]
	name = John Krukoff
	email = john@krukoff.us
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[merge]
	tool = meld
[init]
	templatedir = ~/.git_template
[status]
	submoduleSummary = true
[diff]
	submodule = log
[fetch]
	recurseSubmodules = on-demand
